.pricing {
  padding: 100px 0;
  text-align: center;
}

.pricing h2 {
  margin-bottom: 40px;
}

.pricing-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
}

.price-card {
  background: #ffffff;
  border-radius: 16px;
  padding: 30px;
  border: 1px solid #eee;
}

.price-card h1 {
  margin: 20px 0;
}

.price-card ul {
  list-style: none;
  padding: 0;
  color: #6b7280;
}

.highlight {
  border: 2px solid #7c3aed;
}


@media (max-width: 1024px) {
  .pricing-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .pricing-grid {
    grid-template-columns: 1fr;
  }
}